.user-info__edit {
    margin: 20px 0 0 0;
    max-width: 38px;
    height: 18px;

    background-color: transparent;
    border: 1px solid white;

    font-size: 12px;
    color: white;

    cursor: pointer;
}

.user-info__edit:focus {
    outline-color: greenyellow;
}

.user-info__edit:hover {
    background-color: white;
    color: black;
}

.user-info__edit:active {
    background-color: blue;
}