.error {
    margin: 0;
    margin-bottom: 15px;
    width: 100%;
    font-size: 12px;
    line-height: 15px;
    
    color: #FF0000;

    box-sizing: border-box;
    /* border: 1px red solid; */
    display: block;
    min-height: 11px;
}

.error:last-of-type {
    margin-bottom: 0;
}