@import url(./../popup/__content/popup__content.css);
@import url(./__close/popup-edit__close.css);
@import url(./../popup/__title/popup__title.css);
@import url(./../popup/__form/popup__form.css);
@import url(./../popup/__input/popup__input.css);
@import url(./__button/popup-edit__button.css);
@import url(./__button/_disabled/popup-edit__button_disabled.css);
@import url(./_is-opened/popup-edit_is-opened.css);

.popup-edit {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}