.popup-image__content {
    max-width: 80vw;
    max-height: 80vh;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    padding: 0;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 540px) {
    .popup-image__content {
        width: calc(100% - 60px);
    }
}